body{
    background-image: url("../images/purplebg.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    color: yellow;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;

}

 table td {
     color: white;
 }
.bg-purple{
    background-color: purple;

}
.bg-footer{
    background-color: black;
}
.styleul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0px;
}
nav {
    margin: 5px;
    padding: 5px;
    background-color:transparent;
}
th{
    color: yellow;
}

nav li {
    float: left;
}
nav li a {
    font-family: "JetBrains Mono Thin" ;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 35px 35px;
}
nav li a:hover {
    background-color: purple;

}
 .text-yellow{
     color: yellow;
 }
.col-20{
    width: 530px;

}
.col-10{
    width: 250px;
}
.swiper {
    width: 600px;
    height: 300px;
}
#app { height: 100% }



.swiper {
    width: 100%;
    height: 100%;

}
.option{
    padding: 6px;
}
form{
    border-radius: 20px;
}

.imghover{
    transform: translate(20px)
}
.tablestyle{
    border-radius: 20px;
    --bs-table-hover-bg: green;
}